
*{
    font-family: 'Cuprum', sans-serif;  
}


.card-image{
    height:220px;
}
.ppic{
    height:150px;
}
.card-content{
    height:134px;
}
.card-info{
    line-height: 1.5rem;
}

.line1{
    position:relative;
    top:49px;
}

.line2{
    font-size:32px;
    position:relative;
    top:11px;
}

.bio-image{
    width:214px;
    height: 330px;
}

.bio{
    padding-left: 30px;
    font-size: 22px;
}


.project-links{
    font-size:16px;
}
@media only screen and (max-width : 600px){
    .card-content{
        height:159px;
    }
}

