/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .bio{
    padding-left: 38px;
    padding-right: 0px;
    padding-top: 15px;
}
#review1{
  position:relative;
  top:-62px;
}
}
@media only screen and (max-width : 768px) {
  .bio{
      padding-left: 38px;
      padding-right: 0px;
      padding-top: 15px;
  }
  .card-content {
      padding: 11px;
  }
  #review2{
    padding-bottom: 20px;
  }
  }

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  /* #review1{
    position:relative;
    top:-124px;
  } */

  /* #review2{
    position:relative;
    top:-124px;
  } */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.bio-image{
  position: relative;
    right: -54px;
}
/* #header{
  position: relative;
    right: 148px;
    top: 36px;
    font-size: 76px;
} */
.card-content{
  height:159px;
}
.card-action{
  text-align:center;
}
}